language: python
python:
    - 2.7
addons:
    apt:
        sources:
            # https://www.singular.uni-kl.de/index.php/singular-download/110.html
            - sourceline: 'deb ftp://jim.mathematik.uni-kl.de/repo/ubuntu14 trusty main'
              key_url: 'ftp://jim.mathematik.uni-kl.de/repo/extra/gpg'
        packages:
            - fplll-tools
            # - pari-gp  # too old at trusty
            - gap
            - singular  # not in the repo at trusty
install:
    - wget http://mirrors.kernel.org/ubuntu/pool/universe/p/pari/pari-gp_2.7.5-1_amd64.deb
    - sudo dpkg -i pari-gp_2.7.5-1_amd64.deb
    - pip install .
script:
    - python setup.py test
